



.top-form {
    -fx-background-color: #fff;
    -fx-border-color: #000;
    -fx-border-width: .2px .2px .4px .2px;
}

/*.imageView {*/
/*    -fx-clip: circle(100px);*/
/*}*/

.close {
    -fx-background-color: transparent;
    -fx-cursor: hand;
}

.close:hover {
    -fx-background-color: #003366;
}

.minus {
    -fx-background-color: transparent;
    -fx-cursor: hand;
}

.minus:hover {
    -fx-background-color: #003366;
}

.nav-form{
    -fx-background-color: linear-gradient(to top right, #003366, #003c99);
}

.nav-btn {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-text-fill: #fff;
    -fx-font-size: 15px;
    -fx-font-family: "Tahoma";
    -fx-aliment: CENTER_LEFT;
}

.nav-btn:hover{
    -fx-background-color: #003366;
}

.signOut{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-text-fill: #fff;
    -fx-font-size: 15px;
    -fx-font-family: "Tahoma";
    -fx-aliment: CENTER_LEFT;
}

.signOut:hover{
    -fx-background-color: #ff0000;
}

.bg-white{
    -fx-background-color: #fff;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,.3), 10, 0, 0, 0);
    -fx-background-radius: 8px;
}

.bg-white:hover{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,.5), 10, 0, 0, 0);
}

.card1 {
    -fx-background-color: linear-gradient(to bottom right, #560000, #f3ab84);
    -fx-background-radius: 0px 10px 10px 0px;
}

.card1:hover{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,.5), 10, 0, 0, 0);
}

.card2 {
    -fx-background-color: linear-gradient(to bottom right, #1d3400, #7ac900);
    -fx-background-radius: 0px 10px 10px 0px;
}

.card2:hover{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,.5), 10, 0, 0, 0);
}

.card3 {
    -fx-background-color: linear-gradient(to bottom right, #270038, #a000ff);
    -fx-background-radius: 0px 10px 10px 0px;
}

.card3:hover{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,.5), 10, 0, 0, 0);
}

.font {
    -fx-font-size: 17px;
    -fx-font-family: "Tahoma";
    -fx-text-fill: white;
}

.font-room {
    -fx-font-size: 20px;
    -fx-font-family: "Tahoma";
    -fx-font-weight: bold;
    -fx-text-fill: #003366;
}

.textField {
    -fx-background-color: linear-gradient(to bottom right, #efefef, #eee);
    -fx-background-radius: 5px;
    -fx-border-color : #0355d2;
    -fx-border-width : 1px;
    -fx-border-radius: 5px;
    -fx-font-size: 13px;
    -fx-font-family: "Tahoma";
}

.textField:focused {
    -fx-background-color: #fff;
    -fx-border-color: linear-gradient(to bottom right, #003366, #003c99);;
    -fx-border-width: .4px;
}

.btn {
    -fx-background-color: linear-gradient(to bottom right, #003366, #003c99);
    -fx-background-radius: 5px;
    -fx-border-color : #4d8be5;
    -fx-border-width : 1px;
    -fx-border-radius: 5px;
    -fx-font-size: 13px;
    -fx-font-family: "Tahoma";
    -fx-text-fill: #fff;
}
.btn:hover {
    -fx-background-color: #003c99;
}

.table-view {
    -fx-background-color: #fff;
    -fx-background-radius: 10px;
    -fx-border-color:  #000;
    -fx-border-radius: 10px;
    -fx-fill: #fff;
}

.table-view .column-header-background {
    -fx-background-color: linear-gradient(to bottom right, #003366, #003c99);
    -fx-background-insets: 0, 0, 0, 0;
    -fx-background-radius: 10px 10px 0px 0px;
}

.table-view .column-header, .table-view .filler {
    -fx-background-color: transparent ;
    -fx-size: 50px;
    -fx-text-fill: #fff;
}

.table-view .column-header .label {
    -fx-font-size: 13px;
    -fx-font-family: "Tahoma";
    -fx-text-fill: #fff;
}

/*.table-view .table-row-cell {*/
/*    -fx-background-color: #ffb680;*/
/*}*/

.transparent-button {
    -fx-background-color: transparent;
}

